$backgroundColor: #333333;
$elementBackgroundColor: #444444;
$highlightColorPrimary: #04da48;
$highlightColorSecondary: #f02f2f;
$textColor: #ffffff;
$buttonTextColor: #000000;

$headingFont: "Rubik Scribble", system-ui;
$primaryFont: "Inter", sans-serif;
$breakpoint: 600px;

@mixin tablet-and-up() {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}
